.form-control{
    margin-bottom:15px;
}
.lab{
    margin-bottom:10px;
}

.circle-image{
      border-radius: 50%;
}
.btn-huge{
    padding-top:20px;
    padding-bottom:20px;
}

.checked {
    color: orange;
}

.card-setting  {
    min-width: 16.25rem;
    max-width: 16.675rem;
    max-height: 21.875rem;
    margin-bottom: 1rem !important;
    margin-right: 1rem !important;
    margin-left: 0rem !important;
}




.short-description-card-text {
    font-size: 0.938rem;
}

.name-card-text {
    font-size: 1.25rem;
}


.deck-setting {
    padding-left: 1.9rem;
}

.image-card {
    max-width: 16.875rem;
    max-height: 15.625rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}


.user-image {
    width: 5rem;
    height: 5rem;
}



.profile-nav-text {
    font-size: 4rem; !important
}



