{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        {% if popular_projects %}
        <h1 class="name-text">Popular</h1>
        <hr class="line my-4">
        <div class="row">
            <div class="deck-setting card-deck row dark">
                {% for prjct in popular_projects %}
                    <div class="card-setting card">
                        <img alt="Card image cap" class="image-card card-img-top" src={{prjct.image_path}} />
                        <div class="card-body">
                            <div class="name-card-text name-text card-title">{{ prjct.name }}</div>
                            <p class="short-description-card-text short-description-text card-text">{{ prjct.short_description }}</p>
                            <a href={{'project/show/%d'| format(prjct.id)}} class="btn btn-warning">Show project</a>
                        </div>
                        <div class="card-footer">
                            <a href="#">{{ prjct.owner.username }}</a>
                            <small class="text-muted">Created: {{ prjct.create_date.strftime("%Y-%m-%d") }}</small><br>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if login %}
            <hr class="line my-4">
            <h1 class="name-text">Recommended</h1>
            <hr class="line my-4">
            <div class="row">
            <div class="deck-setting card-deck row dark">
                {% for prjct in recommended_projects %}
                    <div class="card-setting card">
                        <img alt="Card image cap" class="image-card card-img-top" src={{prjct.image_path}} />
                        <div class="card-body">
                            <div class="name-card-text name-text card-title">{{ prjct.name }}</div>
                            <p class="short-description-card-text short-description-text card-text">{{ prjct.short_description }}</p>
                            <a href={{'project/show/%d'| format(prjct.id)}} class="btn btn-warning">Show project</a>
                        </div>
                        <div class="card-footer">
                            <a href="#">{{ prjct.owner.username }}</a>
                            <small class="text-muted">Created: {{ prjct.create_date.strftime("%Y-%m-%d") }}</small><br>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endblock %}
