{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="name-text">{{user.username}}</h1>
    <img class="circle-image" align="right" width="200" height="200"
                         src="{{url_for('static', filename='imgs/system_imgs/user_image.png')}}">
    {% if viewer.is_authenticated and viewer.id == user.id %}
                    <div>
                        <a href="/user/edit/{{user.username}}" class="btn btn-warning">Edit</a>
                        <a href="/user/delete/{{user.username}}" class="btn btn-danger">Delete profile</a>
                    </div>
    {% endif %}
    <ul class="profile-nav nav justify-content-center dark">
        <li class="nav-item">
            <a class="nav-link" href="/user/{{user.username}}">Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/{{user.username}}/projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/statistic/{{user.username}}">Statistic</a>
        </li>
    </ul>
    {% if nav_status == 'info' %}
        <div class="jumbotron p-4 p-md-5 rounded">
            <div class="col-md-15 mb-4">
                <div class="view overlay z-depth-1-half">
                </div>
            </div>
            <div class="col-md-16 mb-4">
                <h1 class="name-text display-4">{{user.username}}</h1>
                <p class="lead short-description-text">{{user.name}} {{user.surname}}</p>
                <p class="lead short-description-text">{{user.country}}, {{user.age}}</p>
            </div>
        </div>
    {% elif nav_status == 'projects' %}
        {% if projects%}
            <br>
            <h1 class="name-text">{{user.username}}'s projects</h1>
            <hr class="line my-3">
            <div class="row">
                <div class="deck-setting card-deck row dark">
                    {% for prjct in projects %}
                        <div class="card-setting card">
                            <img alt="Card image cap" class="image-card card-img-top" src={{prjct.image_path}} />
                            <div class="card-body">
                                <div class="name-card-text name-text card-title">{{ prjct.name }}</div>
                                <p class="short-description-card-text short-description-text card-text">{{ prjct.short_description }}</p>
                                <a href={{'project/show/%d'| format(prjct.id)}} class="btn btn-warning">Show project</a>
                                <a href="/main" class="btn btn-primary">Stats</a>
                            </div>
                            <div class="card-footer">
                                <a href="#">{{ prjct.owner.username }}</a>
                                <small class="text-muted">Created: {{ prjct.create_date.strftime("%Y-%m-%d") }}</small><br>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% elif nav_status == 'statistic' %}

    {% endif %}
</div>
{% endblock %}